<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="false"/>
		  <serverUrl url="https://wms-bgdi.prod.bgdi.ch"
                   matchAll="true"/>
		  <serverUrl url="http://localhost:6080"
                   matchAll="true"/>
      <serverUrl url="http://vsci0290.esri-de.com"
                 matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
