<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <!-- ============== PATH TO WORKING FOLDER ============== -->
    <add key="ApplicationRootPath" value="D:\SVNWorkspace\GNSDatashop\ServiceTest\" />
    <add key="ConfigFileName" value="HostServiceConfig.xml"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <!-- TODO: final configuration of endpoints -->
      <service name="GEOCOM.GNSDatashop.Services.JobManager" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IJobManager" address="JobManagerService" 
                  binding="basicHttpBinding" name="basicHttpBinding" bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
                  behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Datashop/JobManager/JobManagerService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="GEOCOM.GNSDatashop.Services.AdminDatashop" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IAdminDatashop" address="AdminService" 
                  binding="basicHttpBinding" name="basicHttpBinding" bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" 
                  behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Datashop/AdminDatashop/AdminService/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="GEOCOM.GNSDatashop.Services.DocumentService" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IDocumentService" address="DocumentService"
                  binding="basicHttpBinding" name="basicHttpBinding" bindingName="" bindingConfiguration="GEOCOM.GNSDatashop.basicStreamingHttpBinding"
                  behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Datashop/Documents/DocumentService/"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <bindings>
      <basicHttpBinding>
        <clear />
        <binding name="GEOCOM.GNSDatashop.basicHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="GEOCOM.GNSDatashop.basicStreamingHttpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <!-- 
          NOTE: This behavior config  flattens the wsdl generated by WCF into one single file to ensure
          compatibility with older SOAP implementations
        -->
        <behavior name="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior">
          <wsdlExtensions location="http://localhost:8080/Datashop/" singleFile="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <!-- NOTE: this behavior config allows the wsdl to be read using a GET request -->
        <behavior name="GEOCOM.GNSDatashop.DatashopServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <!-- TODO: configure authentication -->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <!-- Note: this BehaviorExtension references the .dll we need to flatten the wsdl -->
        <add name="wsdlExtensions" type="WCFExtrasPlus.Wsdl.WsdlExtensionsConfig, WCFExtrasPlus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <system.diagnostics>
    <!-- This logging is great when WCF does not work. -->
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "d:\traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <log4net debug="false">
    <appender name="DatashopFileAppender" type="GEOCOM.GNSD.Common.Logging.DatashopFileAppender, GNSDatashopCommon">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="log.txt"/>
      </file>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="DatashopFileAppender"/>
    </root>
  </log4net>

  <!-- logging actual sql queries -->
  <!--<log4net>
    <appender name="NHibernateFileLog" type="log4net.Appender.FileAppender">
      <file value="d:\logs\nhibernate.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernateFileLog"/>
    </logger>
  </log4net>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
