<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <!-- ============== PATH TO WORKING FOLDER ============== -->
    <add key="ApplicationRootPath" value="c:\Datashop\" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="ConfigFileName" value="JobEngineConfig.xml"/>
  </appSettings>

  <log4net debug="false" xdt:Transform="SetAttributes(debug)">
    <appender name="DatashopFileAppender" type="GEOCOM.GNSD.Common.Logging.DatashopFileAppender, GNSDatashopCommon">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="job_%property{gnsd_jobid}.txt"/>
      </file>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR" xdt:Transform="SetAttributes(value)" />
    </logger>
    <root>
      <priority value="ERROR" xdt:Transform="SetAttributes(value)" />
      <appender-ref ref="DatashopFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>