<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="ApplicationRootPath" value="c:\inetpub\wwwroot\Datashop\" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
	</appSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<compilation debug="false" targetFramework="4.0" xdt:Transform="SetAttributes(debug)">
		</compilation>
		<customErrors mode="RemoteOnly" defaultRedirect="~/error/GeneralErrorPage.aspx" xdt:Transform="SetAttributes(mode)" />
	</system.web>

	<log4net debug="false" xdt:Transform="SetAttributes(debug)">
		<appender name="DatashopFileAppender">
			<param name="File" value="C:\Datashop\log\gnsd-web.txt"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
		</appender>
		<logger name="NHibernate">
			<level value="ERROR" xdt:Transform="SetAttributes(value)" />
		</logger>
		<root>
			<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
		</root>
	</log4net>

	<system.serviceModel>
		<client>
			<endpoint name="JobService"
							address="https://SERVERNAME/DatashopWCFService/JobManager.svc"
							binding="basicHttpBinding"
							bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
							contract="GEOCOM.GNSDatashop.ServiceContracts.IJobManager" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>

			<endpoint name="AdminService"
                address="https://SERVERNAME/DatashopWCFService/AdminDatashop.svc"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IAdminDatashop" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>

			<endpoint name="AddressSearchService"
				 address="https://SERVERNAME/DatashopWCFService/AddressSearchService.svc"
				 binding="basicHttpBinding"
				 bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
				 contract="GEOCOM.GNSDatashop.ServiceContracts.IAddressSearchService" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>

			<endpoint name="DocumentService"
                address="https://SERVERNAME/DatashopWCFService/DocumentService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicStreamingHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IDocumentService" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<identity>
					<servicePrincipalName value="host/localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>

</configuration>