<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
 
  <appSettings>
    <add key="ApplicationRootPath" value="c:\inetpub\wwwroot\DatashopAdmin\" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web >
   
    <compilation debug="false" targetFramework="4.0" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/GeneralErrorPage.aspx" xdt:Transform="SetAttributes(mode)"/>
   
  </system.web>
  <system.serviceModel>
    <client>

      <endpoint name="JobService"
                address="https://SERVERNAME/DatashopWCFService/JobManager.svc"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IJobManager" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>

      <endpoint name="AdminService"
                address="https://SERVERNAME/DatashopWCFService/AdminDatashop.svc"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IAdminDatashop" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>

      <endpoint name="AddressSearchService" 
                address="https://SERVERNAME/DatashopWCFService/AddressSearchService.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" 
                contract="GEOCOM.GNSDatashop.ServiceContracts.IAddressSearchService" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>

      <endpoint name="DocumentService"
                address="https://SERVERNAME/DatashopWCFService/DocumentService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicStreamingHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IDocumentService" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
  <log4net debug="false" xdt:Transform="SetAttributes(debug)">
		<appender name="DatashopFileAppender">
			<param name="File" value="C:\Datashop\log\gnsd-web-admin.txt"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
		</appender>
    <logger name="NHibernate">
      <level value="ERROR" xdt:Transform="SetAttributes(value)" />
    </logger>
    <root>
      <priority value="ERROR" xdt:Transform="SetAttributes(value)" />
    </root>
  </log4net>
  
</configuration>