<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
  	<!-- ============== PATH TO WORKING FOLDER ============== -->
    <add key="ApplicationRootPath" value="C:\Datashop\"/>
    <add key="ConfigFileName" value="SearchExtensionConfig.xml"/>
  </appSettings>
</configuration>