<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    
    <client>
      <endpoint name="BMMClient" 
                address="http://localhost:8080/BMMService" 
                binding="basicHttpBinding" 
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" 
                contract="ExternalDataClient.ServiceContracts.IBMMConnection">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="ClientTest"
               address="http://localhost:8080/"
               binding="basicHttpBinding"
               bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
               contract="GNSDatashopTest.ServiceClient.IServiceContract">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="InvalidContractClientTest"
               address="http://localhost:8080/"
               binding="basicHttpBinding"
               bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
               contract="GNSDatashopTest.ServiceClient.IInvalidContract">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>

      <endpoint name="JobService"
               address="http://localhost:8080/Datashop/JobManager/JobManagerService/"
               binding="basicHttpBinding"
               bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
               contract="GEOCOM.GNSDatashop.ServiceContracts.IJobManager">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="AdminService"
                address="http://localhost:8080/Datashop/AdminDatashop/AdminService/"
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding"
                contract="GEOCOM.GNSDatashop.ServiceContracts.IAdminDatashop">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>

      <endpoint name="DocumentService"
               address="http://localhost:8080/Datashop/Documents/DocumentService/"
               binding="basicHttpBinding"
               bindingConfiguration="GEOCOM.GNSDatashop.basicStreamingHttpBinding"
               contract="GEOCOM.GNSDatashop.ServiceContracts.IDocumentService">
        <identity>
          <servicePrincipalName value="host/localhost"/>
        </identity>
      </endpoint>

      <!-- ============== URL TO DATASHOP ADDRESS SEARCH SERVICE ============== -->
      <endpoint name="AddressSearchService" 
                address="http://localhost/DatashopWCFServiceDevelopment/AddressSearchService.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" 
                contract="GEOCOM.GNSDatashop.ServiceContracts.IAddressSearchService">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>

    </client>

    <services>
      <service name="GEOCOM.GNSDatashop.HostService.VersionService" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.HostService.IVersionService"
                  address="JobManagerService"
                  binding="basicHttpBinding"
                  name="basicHttpBinding"
                  behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Datashop/"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="GEOCOM.GNSDatashop.basicHttpBinding">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>

        <binding name="GEOCOM.GNSDatashop.basicStreamingHttpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="GEOCOM.GNSDatashop.wsMTOMHttpBinding" textEncoding="utf-8" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>

      <endpointBehaviors>
        <!-- 
          NOTE: This behavior config  flattens the wsdl generated by WCF into one single file to ensure
          compatibility with older SOAP implementations
        -->
        <behavior name="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior">
          <wsdlExtensions location="http://localhost:8080/Datashop/" singleFile="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <!-- NOTE: this behavior config allows the wsdl to be read using a GET request -->
        <behavior name="GEOCOM.GNSDatashop.DatashopServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <!-- TODO: configure authentication -->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <!-- Note: this BehaviorExtension references the .dll we need to flatten the wsdl -->
        <add name="wsdlExtensions" type="WCFExtrasPlus.Wsdl.WsdlExtensionsConfig, WCFExtrasPlus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>