<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings>
		<add key="ApplicationRootPath" value="c:\inetpub\wwwroot\DatashopWCFService\" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
	</appSettings>

	<system.web>
		<compilation debug="false" targetFramework="4.0" xdt:Transform="SetAttributes(debug)" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="GEOCOM.GNSDatashop.DatashopServiceEndpointBehavior">
					<wsdlExtensions location="https://localhost/DatashopWCFService" singleFile="true" xdt:Transform="SetAttributes(location)" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>

	<log4net debug="false" xdt:Transform="SetAttributes(debug)">
		<appender name="DatashopFileAppender">
			<file type="log4net.Util.PatternString">
				<conversionPattern value="C:\Datashop\log\wcf-log.txt"  xdt:Transform="SetAttributes(value)"/>
			</file>
		</appender>
		<logger name="NHibernate">
			<level value="ERROR" xdt:Transform="SetAttributes(value)"/>
		</logger>
		<root>
			<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
		</root>
	</log4net>

</configuration>