<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <!-- ============== PATH TO WORKING FOLDER ============== -->
    <add key="ApplicationRootPath" value="c:\Development\Datashop\code\GEOCOM.GNSDatashop.IISHostService\" />
    <add key="ConfigFileName" value="HostServiceConfig.xml"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!-- 
        Sets the upload file size to around 500MB. 
        Hosting WCF in IIS requires this setting or IIS won't allow the upload. 
        The timeout error message from the WCF client-side runtime is totally misleading, details here:
        http://social.msdn.microsoft.com/Forums/en-NZ/netfxnetcom/thread/6981b252-30f0-4eb9-a3a6-bf6f2b138fb3
    -->
    <httpRuntime maxRequestLength="512000" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GEOCOM.GNSDatashop.Services.JobManager" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IJobManager"
                  binding="basicHttpBinding" name="basicHttpBinding" bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service name="GEOCOM.GNSDatashop.Services.AdminDatashop" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IAdminDatashop"
                  binding="basicHttpBinding" name="basicHttpBinding" bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="GEOCOM.GNSDatashop.Services.AddressSearchService" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IAddressSearchService"
                  binding="basicHttpBinding" name="basicHttpBinding" bindingConfiguration="GEOCOM.GNSDatashop.basicHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service name="GEOCOM.GNSDatashop.Services.DocumentService" behaviorConfiguration="GEOCOM.GNSDatashop.DatashopServiceBehavior">
        <endpoint contract="GEOCOM.GNSDatashop.ServiceContracts.IDocumentService"
                  binding="basicHttpBinding" name="basicHttpBinding"  bindingConfiguration="GEOCOM.GNSDatashop.basicStreamingHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <clear />
        <binding name="GEOCOM.GNSDatashop.basicHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <!-- HTTPS -->
          <security mode="Transport" />
        </binding>
	
        <binding name="GEOCOM.GNSDatashop.basicStreamingHttpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <!-- HTTPS -->
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="GEOCOM.GNSDatashop.DatashopServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <log4net debug="false">
    <appender name="DatashopFileAppender" type="GEOCOM.GNSD.Common.Logging.DatashopFileAppender, GNSDatashopCommon">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\Development\Datashop\log\wcf-log.txt"/>
      </file>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="ERROR"/>
    </logger>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="DatashopFileAppender"/>
    </root>
  </log4net>
  
</configuration>